
.ivilon-drapery-rod{
    min-height: 700px;
    display: grid;
    background-color: rgba(255,255,255,.5);
    background-image: url('https://static.wixstatic.com/media/a858c7_0c8cd4cb13b747ecac8c4fe16ee515fd~mv2_d_2000_1335_s_2.jpg/v1/fill/w_1006,h_1335,al_b,q_85,enc_auto/a858c7_0c8cd4cb13b747ecac8c4fe16ee515fd~mv2_d_2000_1335_s_2.jpg');

}

.collection {
    background-color: rgb(241, 240, 238);
    padding: 30px;
}

.collection-text{
    font-size: 20px;
    margin-top: 35px;
}

.collection-items{
    padding:20px;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    top: 0; 
    width: 100%;
  }
.topnav a {
  color: #f2f2f2;
  display: inline-block;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 17px;
}

.title-ivilon{
    display: flex;
    position: relative;
    margin: auto;

}
.collection-box {
    background-color: rgb(153, 138, 138);
    text-align: center;
    width: 1200px;
    height: 220px;;
    display: flex;
    padding-top: 10px;
}


.price{
    width:65%;
    margin:10px auto;
    margin-top: 50px;

}

.more-options{
  opacity: 0; 
  height: 40px

}

.product-name {
    text-overflow: ellipsis;
    line-height: 1.5em;
    height: 3.2em;     
    overflow: hidden; 
    width: inherit;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}




.more-options:hover{
    opacity: 1;
    visibility: visible;
    background-color: #333;
    color: white;
    height: 40px;
    text-align: center;
    cursor: pointer;
    visibility: visible;

}

.shop{
    margin-left: 350px;
    margin-top: 20px;
}

.img-section {
    display: grid;
    align-items: center;
    justify-items: center;
}


.about-us-writing{
    text-align: center;
    font-size: 20px;
}
.about-us-container{
    width: 100%;
    height: 800px;;

}
.about-us{
    background-color: white;
    text-align: center;
    width: 800px;
    height: 400px;;
    display: flex;
    padding-top: 10px;
}

.about-us-writing{
    text-align:center;
}

.about-us-header{
    text-align:center;
    font-size:34px;

}

.header-div{
    margin-top: 45px;
    margin-bottom: 20px;
}
.img-collection {
    min-height: 270px;
}

.main-img {
    height: 160px;
    width: auto;
    margin-bottom: 140px;
}
.about-us-main{
    
    background-image: url('https://static.wixstatic.com/media/11062b_fae1d456c92348a599ffb230a447bd1cf000.jpg/v1/fill/w_980,h_775,al_c,q_85,usm_0.33_1.00_0.00,enc_auto/11062b_fae1d456c92348a599ffb230a447bd1cf000.jpg');
    min-height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us{
    width: 700px; 
    height:540px;
    padding: 10px;
    position: relative;
}

.extra-img:hover {
    opacity: 0;
}

.extra-img{
    opacity: 1;
}


.body-extras {
    height: 50px;
    text-align: center;
    margin-bottom: 15px;
}


.extras{
    padding-top: 70px;
    background-color: white;
    height: 500px;
    width: 100%;

}


.wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 16px;
}

.extras-card{
    width: 18rem;
    height: 15rem;
    margin-right: 90px;
    box-shadow: 0 30px 30px rgba(0,0,0,.1);


}


.card{
    width: 100%;
}

.collection-card {
    width: 19rem;
    height: 24rem;
    margin-top: 40px;
    margin-bottom: 150px;
}


.info {
    border: 0;
}

::placeholder { 
    color: black;
    font-family: 'myFont', Arial, Helvetica, sans-serif;
    font-style: italic;
    opacity: 1; /* Firefox */
  }


.contact-us{
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    height: 2000px;
    grid-template-rows: repeat(4, min-content) 1fr;
    grid-template-columns: 100%;
}

.contact-us-section{
    background-color: white;
    display: inline-block;
    justify-content: center;
    background-color:white;
    align-items: center;
   


}
.btn-div {
    display: flex;
    position: absolute;
    margin-left: 414px;
}

.contact-title{
    position:relative;
    top:-60px;
}

#contact-us-section{
    background-color: white;
    height: 670px;
    width: 770px;
    display:flex;
    justify-content: center;
    align-items: center;
}



.contact-us-container{
	width: 100%;
    height: 800px ;
	background-color: rgb(153, 138, 138);
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    border-left-width:medium;

}
.right {
    border-right-width:medium;

}

.bottom {
    border-bottom-width:medium;
    border-bottom-color: black;
}
.grid-item{
    border-style: solid;
    border-top-width:medium;

}


.footer{
    background-color: #333;
    width: 100%;
    min-height: 160px;
}

.selection{
    background-color:rgb(153, 138, 138);


}

.user-message{
    width:inherit;
    height: 100%;
    padding-bottom: 2px;


}

.message {
    width: 100%;
    height:170px;
}


.personal-info {
    height: 70px;
    width: 300px;
    
}

.fill-in{
    width: 100%;
    height: inherit;
    text-align: center left;
    display: inline-block;

    
}
.btn{
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #080808; 
    border-radius: 0;
}

.submit-contact {
    padding-top: 20px;
}
.checkbox{
    float: left;
    margin-right: -50px;

}
.btn-div {
    display: flex;
    justify-content: space-between;
}
.submit-btn{
    background-color: rgb(51, 52, 58);
    cursor: pointer;
    color: white;
    text-align: center;
    width: 170px;
    height: 50px;


}

.input-group-addon {
    margin-left: 5px;
    margin-top: 15px;
    font-size: 11px;
}

.input-group-label {
    margin-top: -18px;
    margin-left: 29px;
}
.checkbox-outer {
    border-color: rgb(199, 197, 197);
    background-color: rgb(243, 243, 243);
    border-width: thin;
    border-style: solid;
    width: 220px;
    height: 55px; 
    border-radius: 4px;
    position: absolute;
    margin-left: -14px;
}

input[type=checkbox]{
    width:19px; 
    height:19px;
    border-radius: 0;
    border-color: rgb(75, 73, 73);
}

.checkbox{
    padding-left: 10px;
    padding-top: 10;
}