

body {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font: normal Arial, Helvetica, sans-serif;
	margin:  0;

}


#main-header{
	background-color: lightpink;
	font-family: Arial, Helvetica, sans-serif;
	min-height:  70px;

}

.headtext {
	margin:0
}


.container-1{
display: flex;
min-height: 500px;
}

#box-1 {
	flex: 1;
	background-color: plum;
	font-size: 30px;
	order:  1;
	text-indent: 15px;

}

#center{ 
	font-size: 20px;
 }
#box-2 {
	flex: 5;
	background-color: lightyellow;
	order:  2;
	text-indent: 15px;
}

#box-3 {
	flex: 2;
	background-color: aquamarine;
	order:  3;
	text-indent: 15px;
	/*width: 100px;*/
}

#footer {
	background-color: mediumorchid;
	overflow: auto;
	margin-top: auto;
	height: 100px;
	padding: 10px;


}

.new {
	background-color: mediumorchid;
	min-height: 100px;
}

.foot1 {
	float:bottom;
}
